@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

html,
body {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Bangers", cursive;
  letter-spacing: 2px;
}

/* ========================================================================== */
/* Navbar */
/* ========================================================================== */
.nav-transparent {
  background: none !important;
  background-color: transparent !important;
  position: absolute;
  width: 100%;
}

.hero-unit {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/7450.jpg) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}
.about-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/7445.jpg) no-repeat top center;
  background-size: cover;
  min-height: 60vh;
}

.gallery-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/7448.png) no-repeat top center;
  background-size: cover;
  min-height: 60vh;
}

.hero-unit > .text-container {
  padding: 20px;
  align-self: center;
  width: 100%;
  color: aliceblue;
}

.text-container > h3 {
  font-size: 3.2em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bg-section {
  background-color: #0a0f0c;
}

.index-helo {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/7457.jpg) no-repeat center center;
  color: #fff;
}

.page-title {
  font-size: 3em;
}

.bg-liver {
  background-color: #bf6900;
  color: #fff;
}

/* ========================================================================== */
/* Footer*/
/* ========================================================================== */
.page-footer {
  background-color: #08131f;
  color: #fff;
  padding: 40px 0px 20px 0px;
}
.logo-img {
  height: 40px;
  margin: auto 0;
}
.logo-text {
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}
