@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap");

html,
body {
  font-family: "Nunito Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

.hero-unit {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/7450.jpg) no-repeat center center;
  background-size: cover;
  min-height: 90vh;
  display: flex;
}

.hero-unit > .text-container {
  padding: 20px;
  text-align: center;
  align-self: center;
  width: 100%;
  color: aliceblue;
}

.text-container > h3 {
  font-size: 2.4em;
}
